

<div [ngSwitch]="alerta">
  <div *ngSwitchCase="'info'">info</div>
  <div *ngSwitchCase="'alert'">alert</div>
  <div *ngSwitchCase="'danger'">danger</div>
  <div *ngSwitchCase="'success'">success</div>
  <div *ngSwitchDefault>output2</div>
</div>

<button (click)="alerta = 'success'"
class="btn btn-info"
type="button" name="button">Cambiar</button>

<div [ngSwitch]="alerta">
  <div *ngSwitchCase="'alert'" class="alert alert-primary" role="alert">
  This is a primary alert—check it out!
  </div>
  <div *ngSwitchCase="'out'" class="alert alert-secondary" role="alert">
    This is a secondary alert—check it out!
  </div>
  <div *ngSwitchCase="'success'" class="alert alert-success" role="alert">
    This is a success alert—check it out!
  </div>
  <div *ngSwitchCase="'danger'" class="alert alert-danger" role="alert">
    This is a danger alert—check it out!
  </div>
  <div *ngSwitchCase="'warnig'" class="alert alert-warning" role="alert">
    This is a warning alert—check it out!
  </div>
  <div *ngSwitchCase="'info'" class="alert alert-info" role="alert">
    This is a info alert—check it out!
  </div>
  <div *ngSwitchDefault class="alert alert-dark" role="alert">
    This is a dark alert—check it out!
  </div>
</div>
